body,html {
 	margin: 0;
}
.encabezado{
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 80px;
	z-index: 10;
}
.encabezado h1{
	color: #ffffff;
	margin: 20px;
}
ul.menu {
list-style-type: disc;
position: fixed;
top: 0;
height: 100%;
	padding: 80px 0 0 50px;
	margin: 0;
	width: 25%;
	background: #aaaaaa;
	z-index: 5;
}
ul.menu p{

padding: 10px 0 0 0;
margin: 0 0 0 -20px;
font-size: 25px;
}
ul.menu li{
	background: #aaaaaa;
}
ul.menu li a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px;
	text-align: left;
}
.clear{
	clear: both;
}
.footer{
	position: fixed;
	bottom: 0;
	margin: 0;
	background-color: #666666;
	width: 100%;
	height: 15px;
	z-index: 10;
}
.footer h6{
	color: #ffffff;
	text-align: center;
	margin: 0;
}
.contenido{
	float: left;
	margin: 90px 5px 10px 35%;
	width: 60%;
	height: 400px;
}
.fuera_pag{
	position: relative;
	
	left: 0;
	margin: 0;
	background-color: #ffffff;
	width: 100%;
	height: 1000px;
	z-index: 10;
}